<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    Questo appender serve per scrivere i log sullo stream che viene letto tramite il servizio rest /base/readLogs da modulo di debug-->
    <appender name="SYNERGY_STREAM" class="net.synergy2.base.util.log.SynergyLogsStream">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        &lt;!&ndash; use the previously created timestamp to create a uniquely-->
<!--             named log file &ndash;&gt;-->
<!--        <file>log-${bySecond}.txt</file>-->
<!--        <encoder>-->
<!--            <pattern>%logger{35} -%kvp- %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <logger name="chapters.configuration" level="INFO">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SYNERGY_STREAM"/>
    </root>


</configuration>
<!-- https://logback.qos.ch/manual -->
